

<!DOCTYPE html>
<html>
<head>
<title>Email Draft Generator</title>
</head>
<body>
<h1>Email Draft Generator</h1>
<form action="/generate_draft" method="post">
<label for="recipient">Recipient:</label>
<input type="email" name="recipient" id="recipient">
<br>
<label for="subject">Subject:</label>
<input type="text" name="subject" id="subject">
<br>
<label for="body">Body:</label>
<textarea name="body" id="body"></textarea>
<br>
<input type="submit" value="Generate Draft">
</form>
</body>
</html>


